In [75]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

#warnings
import warnings
warnings.filterwarnings('ignore')

In [76]:
#baca data
df = pd.read_csv('sekula_courses.csv')
df.head()

,course_name,level,rating,url,description
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be..."
2,Silicon Thin Film Solar Cells,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...
3,Finance for Managers,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more..."
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...

In [77]:
# #hapus data page
# df = df.drop(['page'], axis=1)
# df

In [78]:
# #hapus data web-scraper-order
# df = df.drop(['web-scraper-order'], axis=1)
# df

#ubah nama kolom course_name menjadi title
df = df.rename(columns={'course_name':'title'})

In [79]:
# #bersihkan kolom title
# df['title'] = df['title'].str.replace('[','')
# df['title'] = df['title'].str.replace(']','')
# df['title'] = df['title'].str.replace("'",'')
# df['title'] = df['title'].str.replace(" ",'')
# df['title'] = df['title'].str.replace('"','')
# df['title'] = df['title'].str.replace(' ','')
# df['title'] = df['title'].str.replace(',,',',')
# df['title'] = df['title'].str.replace(',,',',')
# df['title'] = df['title'].str.replace(',,',',')
# df['title'] = df['title'].str.replace(',,',',')
# #kata title juga
# df['title'] = df['title'].str.replace('title','')

# df

In [80]:
# #hapus tags, {}, dan :
# df['tags'] = df['tags'].str.replace('Event','')
# df['tags'] = df['tags'].str.replace('{','')
# df['tags'] = df['tags'].str.replace('}','')
# df['tags'] = df['tags'].str.replace(':','')

# df

In [81]:
# #buat date start dan date end dari kolom date dengan memisahkan dengan -
# df[['date_start','date_end']] = df['date'].str.split("-",expand=True)
# df

In [82]:
# #hapus kata , dst.
# df['date_end'] = df['date_start'].str.replace(', dst.','')
# df['date_start'] = df['date_start'].str.replace(', dst.','')

# df

In [83]:
# #hitung jumlah hari pada kolom date_start Sen, Sel, Rab, Kam, Jum, Sab, Min dan ubah menjadi angka, masukkan kedalam duration
# df['duration'] = df['date_start'].str.count('Sen')*1 + df['date_start'].str.count('Sel')*1 + df['date_start'].str.count('Rab')*1 + df['date_start'].str.count('Kam')*1 + df['date_start'].str.count('Jum')*1 + df['date_start'].str.count('Sab')*1 + df['date_start'].str.count('Min')*1
# df

In [84]:
df

,title,level,rating,url,description
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be..."
2,Silicon Thin Film Solar Cells,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...
3,Finance for Managers,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more..."
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...
...,...,...,...,...,...
8796,Front-End Interview Prep,intermediate,NaN,https://www.udacity.com/course/front-end-inter...,Answer front-end technical and behavioral inte...
8797,Full-Stack Interview Prep,intermediate,NaN,https://www.udacity.com/course/full-stack-inte...,Answer common full stack and web security inte...
8798,Data Structures & Algorithms in Swift,intermediate,NaN,https://www.udacity.com/course/data-structures...,Review and practice the skills technical inter...
8799,iOS Interview Prep,intermediate,NaN,https://www.udacity.com/course/ios-interview-p...,Answer iOS and mobile development interview qu...
8800,VR Interview Prep,intermediate,NaN,https://www.udacity.com/course/vr-interview-pr...,Learn how to tackle interview questions for te...

In [85]:
# #rapihkan data title dengan memberikan satu whitespace setiap huruf kapital
# df['title'] = df['title'].str.replace('([A-Z])', r' \1').str.strip()
# df

#cek missing value

#hapus missing value
df = df.dropna()
df.isnull().sum()

title          0
level          0
rating         0
url            0
description    0
dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8594 entries, 0 to 8610
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        8594 non-null   object
 1   level        8594 non-null   object
 2   rating       8594 non-null   object
 3   url          8594 non-null   object
 4   description  8594 non-null   object
dtypes: object(5)
memory usage: 402.8+ KB

In [87]:
#library untuk nfx
import neattext.functions as nfx

#ubah title menjadi string
df['title'] = df['title'].astype(str)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8594 entries, 0 to 8610
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        8594 non-null   object
 1   level        8594 non-null   object
 2   rating       8594 non-null   object
 3   url          8594 non-null   object
 4   description  8594 non-null   object
dtypes: object(5)
memory usage: 402.8+ KB

In [88]:

# df['title'] = df['title'].apply(nfx.remove_stopwords)

# df['title'] = df['title'].apply(nfx.remove_special_characters)

# df['title'] = df['title'].apply(nfx.remove_puncts)

# df['title'] = df['title'].apply(nfx.remove_multiple_spaces)

# df['title'] = df['title'].apply(nfx.remove_emojis)


# df['title'] = df['title'].str.lower()






# df['title'].iloc[1:5]

In [89]:
# #lakukan hal yang sama untuk kolom description

# df['description'] = df['description'].apply(nfx.remove_stopwords)

# df['description'] = df['description'].apply(nfx.remove_special_characters)

# df['description'] = df['description'].apply(nfx.remove_puncts)

# df['description'] = df['description'].apply(nfx.remove_multiple_spaces)

# df['description'] = df['description'].apply(nfx.remove_emojis)

# #ubah menjadi tulisan kecil
# df['description'] = df['description'].str.lower()

In [90]:
# df['description'].iloc[1:5]

In [91]:
df

,title,level,rating,url,description
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be..."
2,Silicon Thin Film Solar Cells,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...
3,Finance for Managers,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more..."
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...
...,...,...,...,...,...
8597,Data Science for Business Leaders,intermediate,4.4,https://www.udacity.com/course/data-science-fo...,"Master the people, platforms, and processes re..."
8598,Security Engineer,intermediate,4.7,https://www.udacity.com/course/security-engine...,Take advantage of the growing need for skilled...
8600,Cloud DevOps using Microsoft Azure,intermediate,4.3,https://www.udacity.com/course/cloud-devops-us...,"Learn how to deploy, test, and monitor cloud a..."
8603,Cloud Developer using Microsoft Azure,intermediate,4.4,https://www.udacity.com/course/cloud-developer...,Master critical cloud computing skills used to...
8610,Programming for Data Science with R,beginner,4.8,https://www.udacity.com/course/programming-for...,Prepare for a data science career by learning ...

In [92]:
# #Buat kolom baru dengan menggabungkan kolom title dan description dengan nama spesial_words
# df['spesial_words'] = df['title'] + ' ' + df['description']
# df

In [93]:
#buat fungsiuntuk membersihkan data menjadi spesialwords seperti halnya diatas
def spesial_words(title, description):
    title = nfx.remove_stopwords(title)
    title = nfx.remove_special_characters(title)
    title = nfx.remove_puncts(title)
    title = nfx.remove_multiple_spaces(title)
    title = nfx.remove_emojis(title)
    title = title.lower()
    
    description = nfx.remove_stopwords(description)
    description = nfx.remove_special_characters(description)
    description = nfx.remove_puncts(description)
    description = nfx.remove_multiple_spaces(description)
    description = nfx.remove_emojis(description)
    description = description.lower()
    
    spesial_words = title + ' ' + description
    
    return spesial_words

#buat kolom baru dengan nama spesial_words2
df['spesial_words'] = df.apply(lambda x: spesial_words(x['title'], x['description']), axis=1)

In [94]:
# #buat fungsi cleaning_test untuk membersihkan kalimat seperti diatas
# def cleaning_test(text):
#     text = nfx.remove_stopwords(text)
#     text = nfx.remove_special_characters(text)
#     text = nfx.remove_puncts(text)
#     text = nfx.remove_multiple_spaces(text)
#     text = nfx.remove_emojis(text)
#     text = text.lower()
    
#     return text

In [95]:
df

,title,level,rating,url,description,spesial_words
0,Write A Feature Length Screenplay For Film Or ...,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,write feature length screenplay film televisio...
1,Business Strategy: Business Model Canvas Analy...,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,silicon thin film solar cells course consists ...
3,Finance for Managers,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",finance managers comes numbers meets eye opera...
4,Retrieve Data using Single-Table SQL Queries,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,retrieve data singletable sql queries course y...
...,...,...,...,...,...,...
8597,Data Science for Business Leaders,intermediate,4.4,https://www.udacity.com/course/data-science-fo...,"Master the people, platforms, and processes re...",data science business leaders master people pl...
8598,Security Engineer,intermediate,4.7,https://www.udacity.com/course/security-engine...,Take advantage of the growing need for skilled...,security engineer advantage growing need skill...
8600,Cloud DevOps using Microsoft Azure,intermediate,4.3,https://www.udacity.com/course/cloud-devops-us...,"Learn how to deploy, test, and monitor cloud a...",cloud devops microsoft azure learn deploy test...
8603,Cloud Developer using Microsoft Azure,intermediate,4.4,https://www.udacity.com/course/cloud-developer...,Master critical cloud computing skills used to...,cloud developer microsoft azure master critica...
8610,Programming for Data Science with R,beginner,4.8,https://www.udacity.com/course/programming-for...,Prepare for a data science career by learning ...,programming data science r prepare data scienc...

In [97]:
#save ke csv
df.to_csv('cleaning_course.csv', index=False)